nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

//font: {
//  family: Helvetica, sans-serif;
//  size: 18px;
//  font-weight: bold;
//}
//
//text: {
//  align-content: center;
//  transform: lowercase;
//  overflow: hidden;
//}